<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>682718107954-ofvnrnhh5s018dir4t73oi8gkfdh12ge.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.682718107954-ofvnrnhh5s018dir4t73oi8gkfdh12ge</string>
	<key>API_KEY</key>
	<string>AIzaSyAxc7PjPC3s7nJiid8HrGypLX7LINhAVRk</string>
	<key>GCM_SENDER_ID</key>
	<string>682718107954</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.entrega.FOF</string>
	<key>PROJECT_ID</key>
	<string>fofood-9d068</string>
	<key>STORAGE_BUCKET</key>
	<string>fofood-9d068.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:682718107954:ios:a1c9b1f78f29d35b</string>
	<key>DATABASE_URL</key>
	<string>https://fofood-9d068.firebaseio.com</string>
</dict>
</plist>
