<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FOF.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8278A0B420F8BF3600CF04B3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8278A0C820F8BF3700CF04B3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8278A0D320F8BF3700CF04B3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
